<!DOCTYPE html>
<html>
    <head>
        <title>ToDo App</title>
        <link rel="stylesheet" type="text/css" href="../static/css/todo.css">
    </head>
    <body>
    	<div id="main">
    		<div id="heading">
    			<section class="wrapper">
  					<div class="top">TODO WEB APP</div>
  					<div class="bottom" aria-hidden="true">TODO WEB APP</div>
				</section>
    		</div>
    		<div id="add-task">
    			
    			<div id="form">
    				<form method="post" action="/todo/add"> 
						<textarea id="desc" type="text" name="description" placeholder="Describe Your Task" required rows="3"></textarea>
						<select id="details" name="priority" placeholder="Select Your Prioity" required="">
						    <option value="1">Very Urgent</option>
						    <option value="2">Urgent</option>
						    <option value="3">Casual</option>
						    <option value="3">Not Urgent</option>
						</select>
						<select id="details" name="cateogory" placeholder="Select Your Cateogory" required="">
						    <option value="home">Home</option>
						    <option value="work">Office</option>
						    <option value="personal">Personal</option>
						    <option value="family">Family</option>
						    <option value="family">Others</option>
						</select>

						
						<input type="datetime-local" id="time1" name="startTime" required>
						<input type="datetime-local" id="time2" name="endTime" required>
		
						<script type="text/javascript">
							var currentTime = new Date();
							var currentOffset = currentTime.getTimezoneOffset();
							var ISTOffset = 660;   // IST offset UTC +5:30 	
							var ISTTime = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);
							document.getElementById('time1').value = ISTTime.toISOString().substring(0,16);
							var ISTOffset = 780;   // IST offset UTC +5:30 	
							var ISTTime = new Date(currentTime.getTime() + (ISTOffset + currentOffset)*60000);
							document.getElementById('time2').value = ISTTime.toISOString().substring(0,16);
						</script>	
						 <button class="style-1" type="submit">ADD ⚡</button>
						
					</form>
						 	
    			</div>
    			<div id= "timer">
    				<div id="count-down"></div>
    				<script type="text/javascript">
    					document.getElementById("count-down").innerHTML = "00:00:00";
    					var myinterval;
    					var count = 0;
    					function start(){
    						count++;
    						if(count > 1) return;
    						
	    					var second = 0;
	    					var minutes = 0;
	    					var hour = 0;
	    					myinterval = setInterval(function () {
	    						second++;
	    						if(second / 60 == 1){
	    							second = 0;
	    							minutes += 1;
	    						}
	    						if(minutes/ 60 == 1){
	    							minutes = 0;
	    							hour +=1;
	    						}
	    						if(hour / 24 == 1){
	    							hour = 0;
	    							minutes = 0;
	    							second = 0;
	    						}
	    						var _second, _minutes, _hour;
	    					if(second < 10) _second = '0'+second;
	    					else _second = second;
	    					if(minutes < 10) _minutes = '0'+ minutes;
	    					else _minutes = minutes;
	    					if(hour < 10) _hour = '0'+hour;
	    					else _hour = hour;
	    					var time = _hour +":"+_minutes+":"+_second;
	    					document.getElementById("count-down").innerHTML = time;
	    					}, 1000);
    					}
    					function stop(){
    						count = 0;
	    					clearInterval(myinterval);
	    					document.getElementById("count-down").innerHTML = "00:00:00";
	    				}
    				</script>
    				<button class="glow-on-hover" type="button" onclick="start()"> START </button>
    				<button class="glow-on-hover" type="button" onclick="stop()"> STOP </button>
    			</div>
    		</div>

    		<div id="list">


    			
	    		<div id="todo-list">
	    			<div id="task-id" class="text-style-1"> <p> Task 1 </p></div>
	    			<div id="task-content" class="text-style-1"><p> Get the VegetablesGet the VegetablesGet the VegetablesGet the VegetablesGet the VegetablesGet the VegetablesGet the Vegetables</p></div>
	    			<div id="task-time">
	    				<div id="task-time-start" class="text-style-1"><p> Start : 10/02/2022 10:00 AM</p></div>
	    				<div id="task-time-end" class="text-style-1"><p> &nbsp;End &nbsp;: 10/02/2022 11:00 AM</p></div>
	    			</div>
	    			<div id="task-options">
	    				<div id="task-edit">
	    					<button style="margin-top: 30px; margin-left: 20px; box-shadow: 4px 4px 2px blue;"><img src="../static/icons/edit.png" width="20px" height="20px" ></button>	
	    				</div>
	    				<div id="task-remove">
	    					<button style="margin-top: 30px; margin-left: 20px; box-shadow: 4px 4px 2px blue;"><img src="../static/icons/bin.png"  width="20px" height="20px"></button>
	    				</div>
	    			</div>
	    		</div>
	    		


    		</div>

    		
    		

    	</div>
    </body>
</html>

































